[project]
	description = Yeoman generator for AngularJS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ahmed Ahmed (ahmed-ahmed)
[access "refs/for/refs/*"]
	read = group user/Ahmed Ahmed (ahmed-ahmed)
	push = group user/Ahmed Ahmed (ahmed-ahmed)
	label-Code-Review = -2..+2 group user/Ahmed Ahmed (ahmed-ahmed)
	label-Verified = -1..+1 group user/Ahmed Ahmed (ahmed-ahmed)
	rebase = group user/Ahmed Ahmed (ahmed-ahmed)
	removeReviewer = group user/Ahmed Ahmed (ahmed-ahmed)
	submit = group user/Ahmed Ahmed (ahmed-ahmed)
[access "refs/heads/*"]
	read = group user/Ahmed Ahmed (ahmed-ahmed)
	create = group user/Ahmed Ahmed (ahmed-ahmed)
	push = +force group user/Ahmed Ahmed (ahmed-ahmed)
	pushMerge = group user/Ahmed Ahmed (ahmed-ahmed)
[access "refs/tags/*"]
	push = +force group user/Ahmed Ahmed (ahmed-ahmed)
	pushTag = group user/Ahmed Ahmed (ahmed-ahmed)
	pushSignedTag = group user/Ahmed Ahmed (ahmed-ahmed)
